html,
body {
  height: 100%;
}

body {
  padding: 40px;
  background-color: #eee;
}

.footer-below {
  background-color: #eed;
  text-align: center;
}

.div {
  display: block;
}

.form-item {
  padding: 10px 10px;
}

#links {
  border: solid 2px;
  padding-left: -5px;
}

#links,
.social {
  list-style-type: none;
  text-align: left;
  margin-right: 7%;
  display: inline;
  background-color: white;
}

img {
  vertical-align: 0;
  width: 100%;
  height: auto;
}